# General
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/

# .NET
**/bin/
**/obj/

# User settings
.vscode/
.idea/

# Secrets
**/appsettings.Local.json
.env

## Visual Studio Hidden Cache and Settings Folders
.vs/
.idea/